/* Form-related styles to make nodelist edit form look nice. */

#modalContent a {
  color: #0074BD;
  text-decoration: none;
}
#modalContent a:hover {
  text-decoration: underline;
}
#modalContent legend {
  font-weight: bold;
}

/**
 * Tables.
 */
#modalContent table {
  width: 100%;
  font-size: 0.923em;
  margin: 0 0 10px;
  border: 1px solid #bebfb9;
}
#modalContent table td,
#modalContent table th {
  vertical-align: middle;
  padding: 8px 10px;
  border: 0;
  color: #000;
}
#modalContent tr.even,
#modalContent tr.odd {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #bebfb9;
  background: #f3f4ee;
}
#modalContent tr.odd {
  background: #fff;
}
#modalContent tr.drag {
  background: #fe7;
}
#modalContent tr.drag-previous {
  background: #ffb;
}
#modalContent table th {
  text-transform: uppercase;
  background: #e1e2dc;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  border-color: #bebfb9;
  padding: 3px 10px;
}
#modalContent table th.active {
  background: #bdbeb9;
}
#modalContent table th a {
  display: block;
  position: relative;
}
#modalContent table th.active a {
  padding: 0 25px 0 0; /* LTR */
}
#modalContent table th.active img {
  position: absolute;
  top: 3px;
  right: 3px; /* LTR */
}
#modalContent table td.active {
  background: #e9e9dd;
}
#modalContent table tr.odd td.active {
  background: #f3f4ee;
}
#modalContent table tr.selected td.active,
#modalContent table tr.selected td {
  background: #ffc;
  border-color: #eeb;
}
#modalContent table.system-status-report tr {
  border-bottom: 1px solid #ccc;
}
#modalContent table.system-status-report tr.ok {
  color: #255b1e;
  background-color: #e5ffe2;
}
#modalContent table.system-status-report tr.info {
  color: #040f37;
  background-color: #bdf;
}
#modalContent table.system-status-report tr.warning {
  color: #840;
  background-color: #fffce5;
}
#modalContent table.system-status-report tr.error {
  color: #8c2e0b;
  background-color: #fef5f1;
}
/**
 * Exception for webkit bug with the right border of the last cell
 * in some tables, since it's webkit only, we can use :last-child
 */
#modalContent tr td:last-child {
  border-right: 1px solid #bebfb9; /* LTR */
}


/**
 * Fieldsets.
 *
 * Fieldset legends are displayed like containers in Seven. However, several
 * browsers do not support styling of LEGEND elements. To achieve the desired
 * styling:
 * - All fieldsets use 'position: relative'.
 * - All legend labels are wrapped in a single span.fieldset-legend that uses
 *   'position: absolute', which means that the LEGEND element itself is not
 *   rendered by browsers.
 * - Due to using 'position: absolute', collapsed fieldsets do not have a
 *   height; the fieldset requires a 'padding-top' to make the absolute
 *   positioned .fieldset-legend appear as though it would have a height.
 * - Various browsers are positioning the legend differently if there is a
 *   'padding-left'/'padding-right' applied on a fieldset and inherit the
 *   positioning even to absolute positioned elements within; we therefore have
 *   to apply all padding to the inner .fieldset-wrapper instead.
 */
#modalContent fieldset {
  border: 1px solid #ccc;
  padding: 2.5em 0 0 0; /* LTR */
  position: relative;
  margin: 1em 0;
}
#modalContent fieldset .fieldset-legend {
  margin-top: 0.5em;
  padding-left: 15px; /* LTR */
  position: absolute;
  text-transform: uppercase;
}
#modalContent fieldset .fieldset-wrapper {
  padding: 0 13px 13px 15px; /* LTR */
}
#modalContent fieldset.collapsed {
  background-color: transparent;
}
html.js fieldset.collapsed {
  border-width: 1px;
  height: auto;
}
#modalContent fieldset fieldset {
  background-color: #fff;
}
#modalContent fieldset fieldset fieldset {
  background-color: #f8f8f8;
}

/**
 * Form elements.
 */
#modalContent .form-item {
  padding: 9px 0;
  margin: 0 0 10px;
}
#modalContent .filter-wrapper .form-item,
#modalContent div.teaser-checkbox .form-item,
#modalContent .form-item .form-item {
  padding: 5px 0;
  margin: 0;
  border: 0;
}
#modalContent .form-type-checkbox {
  padding: 0;
}
#modalContent .text-format-wrapper .form-item {
  padding-bottom: 0;
}
#modalContent .form-item label {
  margin: 0;
  padding: 0;
}
#modalContent .form-item label.option {
  font-size: 0.923em;
  text-transform: none;
}
#modalContent .form-item label.option input {
  vertical-align: middle;
}
#modalContent .form-disabled input.form-autocomplete,
#modalContent .form-disabled input.form-text,
#modalContent .form-disabled input.form-file,
#modalContent .form-disabled textarea.form-textarea,
#modalContent .form-disabled select.form-select {
  background-color: #eee;
  color: #777;
}

/* Filter */
#modalContent .filter-wrapper {
  border-top: 0;
  padding: 10px 2px;
}
#modalContent .filter-wrapper .fieldset-wrapper {
  padding: 0 6px;
}
#modalContent .filter-wrapper .form-item,
#modalContent .filter-wrapper .filter-guidelines,
#modalContent .filter-wrapper .filter-help {
  font-size: 0.923em;
  padding: 2px 0 0 0; /* LTR */
}
#modalContent ul.tips,
#modalContent div.description,
#modalContent .form-item div.description {
  margin: 5px 0;
  line-height: 1.231em;
  font-size: 0.923em;
  color: #666;
}
#modalContent ul.tips li {
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}
#modalContent div.form-type-radio div.description,
#modalContent div.form-type-checkbox div.description {
  margin-left: 1.5em; /* LTR */
}
#modalContent input.form-submit,
#modalContent a.button {
  cursor: pointer;
  padding: 4px 17px;
  margin-bottom: 1em;
  margin-right: 1em; /* LTR */
  color: #5a5a5a;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  background: url(images/buttons.png) 0 0 repeat-x;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
#modalContent a.button:link,
#modalContent a.button:visited,
#modalContent a.button:hover,
#modalContent a.button:active {
  text-decoration: none;
  color: #5a5a5a;
}
#modalContent input.form-submit:active {
  background: #666;
  color: #fff;
  border-color: #555;
  text-shadow: #222 0 -1px 0;
}
#modalContent input.form-button-disabled,
#modalContent input.form-button-disabled:active {
  background: #eee none;
  border-color: #eee;
  text-shadow: none;
  color: #999;
}
#modalContent input.form-autocomplete,
#modalContent input.form-text,
#modalContent input.form-file,
#modalContent textarea.form-textarea,
#modalContent select.form-select {
  padding: 2px;
  border: 1px solid #ccc;
  border-top-color: #999;
  color: #333;
  line-height: normal;
}
#modalContent input.form-text:focus,
#modalContent input.form-file:focus,
#modalContent textarea.form-textarea:focus,
#modalContent select.form-select:focus {
  color: #000;
  border-color: #ace;
}
html.js input.form-autocomplete {
  background-position: 100% 4px;
}
html.js input.throbbing {
  background-position: 100% -16px;
}
#modalContent ul.action-links {
  margin: 1em 0;
  padding: 0 20px 0 20px; /* LTR */
  list-style-type: none;
  overflow: hidden;
}
#modalContent ul.action-links li {
  float: left; /* LTR */
  margin: 0 1em 0 0; /* LTR */
}
#modalContent ul.action-links a {
  padding-left: 15px; /* LTR */
  background: transparent url(images/add.png) no-repeat 0 center;
  line-height: 30px;
}
